{
  "env": {
    "jest": true,
    "node": true
  },
  "plugins": [
    "prettier",
    "security"
  ],
  "extends": [
    "airbnb-base",
    "plugin:security/recommended",
    "plugin:prettier/recommended"
  ]
}
